# Cleaning - Dad Jokes
___

#

### Imports and Reading in Data
---

In [38]:
#Libraries
import pandas as pd

#Dad Jokes Raw Data
dj = pd.read_csv('data/DADJOKES_initial_scrape.csv')

#Shape
dj.shape

/var/folders/3j/my4n0ykx0yb51nj_xv6qbxp40000gn/T/ipykernel_9627/4039426275.py:8: DtypeWarning: Columns (0,1,2,4,5,7,9,10,11,12,13,14,18,20,21,22,23,24,25,26,27,29,30,31,32,33,34,37,38,40,41,42,45,46,47,51,55,58,60,61,62,64,65,66,67,68,69,70,71,75,80,81,85,86,88,89) have mixed types. Specify dtype option on import or set low_memory=False.
  dj = pd.read_csv('data/DADJOKES_initial_scrape.csv')

(50102, 90)

In [39]:
dj.head(2)

,Unnamed: 0,all_awardings,allow_live_comments,author,author_flair_css_class,author_flair_richtext,author_flair_text,author_flair_type,author_fullname,author_is_blocked,...,rte_mode,brand_safe,approved_at_utc,author_created_utc,banned_at_utc,media_embed,secure_media_embed,suggested_sort,mod_reports,user_reports
0,0,[],False,Ok_Strength4608,NaN,[],NaN,text,t2_hg4t7u8x,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,[],False,nate_hawwk,NaN,[],NaN,text,t2_leo5a0m,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Cleaning
---

In [40]:
#Dropped all Columns but These Three
dj = dj[['selftext', 'title', 'subreddit']]

#Null Value Check
dj.isna().sum()

selftext     1487
title           8
subreddit       8
dtype: int64

In [41]:
#Dropping Nulls
dj.dropna(inplace=True)

dj.shape

(48613, 3)

In [42]:
#Checking for Repeating Values
dj['selftext'].value_counts()

[removed]                                                                                                                                                                                                                                                                    1235
This evening I was packing up the dishwasher when my my mum told me to put a tablet in.\nSo cue my dad who was standing just outside with his windows tablet so I went into the hall and picked it up and almost put it into the dishwasher when mum called me out on it.     778
1. Wait till 11:59.\n2. Say, "See you next year!"\n3. Turn your back on person.\n4. Turn back a minute later.\n5. "Heeeeey there!"\n\nIf we stick to this, I'm sure we can have a great new year!                                                                             389
See you next year!                                                                                                                                                                                                                                                            389
"The opposite of down, dummy."                                                                                                                                                                                                                                                389
                                                                                                                                                                                                                                                                             ...
One says “How about a baking while skydiving? That’d be thrilling!”\nThe other replies, “I dunno, I don’t think It’d be worth the whisk”                                                                                                                                        1
I hit the roof                                                                                                                                                                                                                                                                  1
Sorry, this was a ruff one.                                                                                                                                                                                                                                                     1
This was a rough joke.                                                                                                                                                                                                                                                          1
It's partly an even number                                                                                                                                                                                                                                                      1
Name: selftext, Length: 9275, dtype: int64

In [43]:
#Removed '[removed]'
dj = dj[dj.selftext != '[removed]']

dj.shape

(47378, 3)

In [44]:
#Combining All Text to One Column for Feature Engineering and Target Column
dj['text'] = dj[['title', 'selftext']].apply(" ".join, axis=1)
dj = dj[['text', 'subreddit']]

#Dropping Duplicates
dj.drop_duplicates('text',inplace=True)

#Lowercasing Text for Featuring
dj['text'] = dj['text'].str.lower()

dj.shape

(9713, 2)

### Cleaned Data Set Saved to Data Folder
---

In [45]:
dj.to_csv('./data/DADJOKES_cleaned.csv')