In [1]:
import json
import pandas as pd

In [13]:
df = pd.read_json('./Data/matches.jsonl',lines=True,orient='columns')

In [14]:
df.shape

(9130, 15)

In [48]:
df.head()

   match_id league    season  round       date      home_team   away_team  home_score  away_score                              home_starting_players                            home_sub_players                                        home_events                              away_starting_players                            away_sub_players                                        away_events  score
0      5700     de  20172018      1 2017-08-18         Bayern  Leverkusen           3           1  [4710, 2376, 4588, 5627, 1567, 2954, 57, 660, ...   [6388, 5333, 401, 1836, 5085, 1939, 4162]  [{'minute': 9, 'period': 'first_half', 'player...  [3991, 1639, 6211, 4128, 4383, 2198, 2776, 375...  [2736, 5105, 2438, 6668, 4248, 4915, 1178]  [{'minute': 8, 'period': 'first_half', 'player...      4
1      5701     de  20172018      1 2017-08-19       Mainz 05    Hannover           0           1  [381, 4331, 1648, 4236, 2348, 2115, 4965, 581,...  [6273, 1125, 1912, 3581, 2412, 3922, 6571]  [{'minute': 41, 'period': 'first_half', 'playe...  [308, 2164, 5844, 4041, 3282, 4562, 3168, 5410...   [2847, 4579, 2703, 2063, 4522, 1273, 467]  [{'minute': 11, 'period': 'first_half', 'playe...      1
2      5702     de  20172018      1 2017-08-19        Amburgo    Augsburg           1           0  [1321, 6654, 5719, 4006, 3773, 4661, 4646, 102...    [863, 3069, 2545, 4483, 780, 5758, 5079]  [{'minute': 8, 'period': 'first_half', 'player...  [119, 4521, 631, 204, 4772, 2340, 5603, 3828, ...   [2734, 3774, 1482, 6023, 4302, 414, 5344]  [{'minute': 20, 'period': 'first_half', 'playe...      1
3      5703     de  20172018      1 2017-08-19  Hertha Berlin   Stoccarda           2           0  [3020, 2911, 6224, 5194, 5391, 3707, 3065, 158...   [2582, 624, 2379, 3873, 2456, 2429, 2280]  [{'minute': 46, 'period': 'second_half', 'play...  [6274, 4427, 1158, 1767, 5310, 1395, 2212, 527...  [5663, 3570, 1725, 3172, 1450, 1776, 2248]  [{'minute': 63, 'period': 'second_half', 'play...      2
4      5704     de  20172018      1 2017-08-19     Hoffenheim   Werder B.           1           0  [4950, 5474, 4694, 71, 4831, 1049, 5117, 5131,...  [6386, 5012, 3198, 1664, 1527, 1375, 2122]  [{'minute': 63, 'period': 'second_half', 'play...  [4605, 4452, 2010, 44, 1645, 5687, 5006, 504, ...  [4543, 5688, 5165, 1266, 4078, 6651, 3724]  [{'minute': 26, 'period': 'first_half', 'playe...      1

In [50]:
df['round'].value_counts(normalize=False)

1     245
27    245
21    245
22    245
23    245
24    245
25    245
26    245
28    245
19    245
29    245
30    245
31    245
32    245
33    245
34    245
2     245
20    245
18    245
9     245
3     245
4     245
5     245
6     245
7     245
17    245
8     245
10    245
11    245
12    245
13    245
14    245
15    245
16    245
35    200
36    200
37    200
38    200
Name: round, dtype: int64

In [51]:
df['score'].value_counts(normalize=True)

2     0.238445
3     0.220372
1     0.162212
4     0.151588
5     0.086637
0     0.079080
6     0.038226
7     0.016758
8     0.005038
9     0.001533
10    0.000110
Name: score, dtype: float64

In [52]:
# 14.81% of games are 5 goals or over

In [ ]:
# I want to see percentages by league

In [ ]:
df.groupby(['score'axis=1)

In [47]:
# creating new score columns 
df['score'] = df['home_score'] + df['away_score']

# I want to create one for each half
df['1h_score'] = df['home_events'isOwnGoal-first half] + df['away_events'isOwnGoal-first half]
df['2h_score'] = df['home_events'isOwnGoal-first half] + df['away_events'isOwnGoal-first half]

### I want to create:
#### - Goal Acceleration/Speed: some type of measurement of how short of time is between goals
#### - Running count of goals by players and then that team would have a score based on starting players running goals tailie
#### - Team rating based on players
#### - Over Historic Values: 1h/2h/G. 
#### - Classification of to over or not over coupled with a bet rating 1/4. Ex. NB, YB1, YB2, YB3, YB4
#### - Current standings
#### - Game # of season
#### - Team Rating based on over likelyhood

In [30]:
df.iloc[0,11]

[{'minute': 9, 'period': 'first_half', 'player': 660, 'type': 'assist'},
 {'isOwnGoal': False,
  'isPenalty': False,
  'minute': 9,
  'period': 'first_half',
  'player': 5627,
  'type': 'goal'},
 {'minute': 18, 'period': 'first_half', 'player': 57, 'type': 'assist'},
 {'isOwnGoal': False,
  'isPenalty': False,
  'minute': 18,
  'period': 'first_half',
  'player': 2954,
  'type': 'goal'},
 {'isOwnGoal': False,
  'isPenalty': True,
  'minute': 52,
  'period': 'second_half',
  'player': 3894,
  'type': 'goal'},
 {'minute': 60, 'period': 'second_half', 'player': 1836, 'type': 'subIn'},
 {'minute': 60, 'period': 'second_half', 'player': 3643, 'type': 'subOff'},
 {'minute': 61, 'period': 'second_half', 'player': 5333, 'type': 'subIn'},
 {'minute': 61, 'period': 'second_half', 'player': 2376, 'type': 'subOff'},
 {'minute': 63, 'period': 'second_half', 'player': 57, 'type': 'yellowCard'},
 {'minute': 76, 'period': 'second_half', 'player': 5085, 'type': 'subIn'},
 {'minute': 76, 'period': 'second_half', 'player': 3697, 'type': 'subOff'}]

In [46]:
df.describe()

          match_id        season        round   home_score   away_score
count  9130.000000  9.130000e+03  9130.000000  9130.000000  9130.000000
mean   4564.500000  2.019202e+07    19.164841     1.511610     1.230011
std    2635.748312  1.414432e+04    10.807353     1.304427     1.177759
min       0.000000  2.017202e+07     1.000000     0.000000     0.000000
25%    2282.250000  2.018202e+07    10.000000     1.000000     0.000000
50%    4564.500000  2.019202e+07    19.000000     1.000000     1.000000
75%    6846.750000  2.020202e+07    28.000000     2.000000     2.000000
max    9129.000000  2.021202e+07    38.000000     9.000000     9.000000

In [38]:
df['league'].value_counts(normalize=False)

en    1900
es    1900
fr    1900
it    1900
de    1530
Name: league, dtype: int64

####