## <font color="blue">1.1 - Cash Flow - PDF Scrape
---
### <font color="blue">Process from AnalyticsAriel Youtube Channel</font>

##### <font color="blue">This notebook was executed using Google Colab. My local Python Environment didn't have Java installed. Imports and exports were specific to Colab

## <font color="blue">Install Packages</font>

In [ ]:
!pip install tabula-py

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting tabula-py
  Downloading tabula_py-2.6.0-py3-none-any.whl (12.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.0/12.0 MB 68.1 MB/s eta 0:00:00
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from tabula-py) (1.21.6)
Collecting distro
  Downloading distro-1.8.0-py3-none-any.whl (20 kB)
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.8/dist-packages (from tabula-py) (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.25.3->tabula-py) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.25.3->tabula-py) (2022.7)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25.3->tabula-py) (1.15.0)
Installing collected packages: distro, tabula-py
Successfully installed distro-1.8.0 tabula-py-2.6.0

---

## <font color="blue">Imports<font>
---

In [ ]:
import tabula
import warnings
import plotly.express as px
from datetime import datetime
from google.colab import drive, files, output # specific to Google Colab

warnings.filterwarnings('ignore')

## <font color="blue">Data</font>

In [ ]:
# Read in all 3 files
GE_2020 = "/content/sample_data/General_Election_2020.pdf"
CA_Recall_2021 = '/content/sample_data/CA_Recall_2021.pdf'
GE_2022 = '/content/sample_data/General_Election_2022.pdf'

table1 = tabula.read_pdf(GE_2020, pages=1)
table2 = tabula.read_pdf(CA_Recall_2021, pages=1)
table3 = tabula.read_pdf(GE_2022, pages=1)

table1[0]

,County,Number of,Eligible to,Registered,Precinct,Vote-By-Mail,Total,Percent of,Turnout,Turnout.1
0,NaN,Precincts,Register,Voters,Voters*,Voters,Voters,Vote-By-Mail,Registered,Eligible
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Voters,NaN,NaN
2,Alameda,521,"1,092,044","966,809","56,810","728,405","785,215",92.77%,81.22%,71.90%
3,Alpine,5,924,869,0**,749,749,100.00%,86.19%,81.06%
4,Amador*,30,"27,210","25,605","1,984","20,636","22,620",91.23%,88.34%,83.13%
...,...,...,...,...,...,...,...,...,...,...
57,Ventura,695,"537,055","500,442","45,455","384,467","429,922",89.43%,85.91%,80.05%
58,Yolo,58,"150,850","119,218","6,210","92,830","99,040",93.73%,83.07%,65.65%
59,Yuba,34,"51,819","39,626","4,186","26,015","30,201",86.14%,76.22%,58.28%
60,State Total,"20,497","25,090,517","22,047,448","2,361,850","15,423,301","17,785,151",NaN,NaN,NaN
61,Percent,NaN,NaN,87.87%,13.28%,86.72%,NaN,86.72%,80.67%,70.88%

In [ ]:
table2[0]

,County,Number of,Eligible to,Registered,Precinct,Vote-By-Mail,Total,Percent of,Turnout,Turnout.1
0,NaN,Precincts,Register,Voters1,Voters*,Voters,Voters,Vote-By-Mail,Registered,Eligible
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Voters,NaN,NaN
2,Alameda,521,"1,078,323","948,561","31,061","545,222","576,283",94.61%,60.75%,53.44%
3,Alpine2,5,919,919,0**,581,581,100.00%,63.22%,63.22%
4,Amador*,30,"26,822","26,475",782,"19,182","19,964",96.08%,75.41%,74.43%
...,...,...,...,...,...,...,...,...,...,...
57,Ventura,697,"532,017","509,797","31,002","290,551","321,553",90.36%,63.07%,60.44%
58,Yolo,32,"146,198","121,550","3,827","74,221","78,048",95.10%,64.21%,53.39%
59,Yuba,36,"51,930","40,997","2,241","21,094","23,335",90.40%,56.92%,44.94%
60,State Total,"18,185","24,819,858","22,057,154","1,159,149","11,733,429","12,892,578",NaN,NaN,NaN
61,Percent,NaN,NaN,88.87%,8.99%,91.01%,NaN,91.01%,58.45%,51.94%

In [ ]:
table3[0]

,County,Number of,Eligible to,Registered,Precinct,Vote-By-Mail,Total,Percent of,Turnout,Turnout.1
0,NaN,Precincts,Register,Voters1,Voters*,Voters,Voters,Vote-By-Mail,Registered,Eligible
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Voters,NaN,NaN
2,Alameda*,552,"1,140,774","931,130","38,308","457,817","496,125",92.28%,53.28%,43.49%
3,Alpine,5,"1,015",915,0**,623,623,100.00%,68.09%,61.38%
4,Amador*,47,"29,593","25,954","1,251","17,667","18,918",93.39%,72.89%,63.93%
...,...,...,...,...,...,...,...,...,...,...
57,Ventura*,"1,640","584,861","505,110","30,112","253,901","284,013",89.40%,56.23%,48.56%
58,Yolo*,62,"155,109","118,797","5,650","63,144","68,794",91.79%,57.91%,44.35%
59,Yuba,35,"56,463","41,212","2,537","17,349","19,886",87.24%,48.25%,35.22%
60,State Total,"25,554","26,876,800","21,940,274","1,391,422","9,755,188","11,146,610",NaN,NaN,NaN
61,Percent,NaN,NaN,81.63%,12.48%,87.52%,NaN,87.52%,50.80%,41.47%

In [ ]:
# normalize data
GE_2020 = table1[0]
CA_Recall_2021 = table2[0]
GE_2022 = table3[0]

In [ ]:
# export
GE_2020.to_csv('GE_2020.csv', index=False)
CA_Recall_2021.to_csv('CA_Recall_2021.csv', index=False)
GE_2022.to_csv('GE_2022.csv', index=False)